@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

body{
    background-color: rgb(150, 146, 146);
}

img{
    width: 25%;
    margin: 10px;
}
hr{
width: 16%;
float: left;
opacity: 30%;
background-color: gainsboro ;
border-color: transparent;
}
h1{
    font-family: 'Raleway';
}