:root{
    --primary-color:rgb(27, 231, 211);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 17px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}
#presentacion{
    background-image: url(../img/caribe.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
#presentacion::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(15, 15, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
h1, p, a{
    z-index: 2;
}
a{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 3px;
    color: seashell;
    border-radius: 8px;
}
a:hover{
    color: var(--primary-color);
    background-color: seashell;
}
#section1{
    text-align: center;
    padding: 20px;
}
.naranjito{
    background-color: var(--primary-color);
    color: seashell;
}
#section2{
    background-color: seashell;
}
#cajas{
    display: flex;
}
div{
    padding: 20px;
}